body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pic14.jpg");     
    padding: 0px 150px 10px 150px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  form {
      border: 0px solid #fff;
      margin-top:20vh ;
      box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
      width:500px; 
    }

   *{
    color:black;
    }
  
  input[type=text], input[type=password] 
  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button 
  {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover
   {
    opacity: 0.8;
  }
  
  .cancelbtn
  {
    width: auto;
    padding: 10px 18px;
    background-color: #fa1d0e;
  }
  
  .imgcontainer 
  {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar 
  {
    width: 40%;
    border-radius: 50%;
  }
  
  .container
  {
    padding: 16px;
  }
  
  span.psw
   {
    float: right;
    padding-top: 16px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }