*{
  margin:0px;
  padding:0px;  
  font-family: serif;
}
.main{
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body{
    background-image: url('Slider-Darker-1920x1368.jpg');
}
.navbar{
   margin:20px;
   padding: 25px;
}
.logo{
    height:59px;
    margin:20px;  
    border-radius:10px;
    cursor: pointer;
    float:left;
}
a{
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    margin:20px;
}
.navbar ul li{
    list-style:none;
    font-size:1.3rem;
    float: right;
}
.navbar ul li a{
    color:white;
    display:block;
    padding:4px 22px;
    border-radius:10px;
    text-decoration: none;
    float: right;
}
.navbar ul li a:hover{
    color:rgb(151, 34, 34);
    background-color: rgb(230, 219, 219);
    float: right;
}
.navbar ul{
    display:flex;
    font-family:serif;
    float: right;
}
.content{
    color: white;
    text-align: center;
    margin: 10%;
}
.button1 {
    border-radius:10px;
    color: rgb(192, 12, 12);
    padding:10px;
    width:120px;
}
.button2{
    border-radius:10px;
    color: rgb(170, 15, 15);
    padding:10px;
    width:120px;
      }
.button1:hover{
    background-color: rgb(69, 69, 241);
    color:rgb(110, 6, 6);
}
.button2:hover{
    background-color: rgb(69, 69, 241);
    color:rgb(156, 16, 16);
    opacity:0px;
}
.box{
    height:200px;
    width:180px;
    margin:50px;
    display:block;
    flex-direction:column;
    margin: 2px 55px;
    margin-bottom:10px;
    border: 2px solid rgb(250, 242, 242);
    border-radius:28px;
    padding:20px;
    float:right;
}
p{
    color:white;
}
.box img{
    height: 50px;
    width:50px;
}
.footer{
    text-align:center;
}


